<launch>
  <include file="$(find turtlebot_bringup)/launch/minimal.launch" />
  <include file="$(find zed_wrapper)/launch/zed2.launch" />
   <arg name="config_topics" default="$(find follow_ahead_rl)/config/twist_mux_topics.yaml"/>  
    <arg name="config_locks"  default="$(find twist_mux)/config/twist_mux_locks.yaml"/>


  <node pkg="tf" type="static_transform_publisher" name="zed2_base_robot_broadcaster" args="0 0 0 0 0 0 1 zed2_base_link base_robot 100"/>
  <node pkg="tf" type="static_transform_publisher" name="link_world_map" args="-0.18 2.21 0 0 0 0.707 0.707 world map 100"/>
  <!-- <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0.707 -0.707 camera base_robot 100" />
  <node pkg="tf" type="static_transform_publisher" name="link1_broadcaster" args="0 0 0 0 0 0.707 -0.707 camera base_robot 100" /> -->

  <node pkg="twist_mux" type="twist_mux" name="twist_mux" output="screen">
        <remap from="cmd_vel_out" to="/cmd_vel_mux/input/teleop"/>
	<rosparam file="$(arg config_locks)"  command="load"/>
        <rosparam file="$(arg config_topics)" command="load"/>
    </node>

  <node pkg="topic_tools" type="mux" name="mux" args="sel_cmdvel auto_cmdvel teleop_cmd_vel" output="screen"/>

</launch>
